.chart {
    width: 50vw;
    min-width: 500px;
    height: 400px;
    padding-right: 45px;
    padding-top: 20px;
}

.line path, .line circle{
    stroke: rgb(236, 53, 67);
    stroke-width: 3;
}

.line circle  {
    fill: rgb(236, 53, 67) !important;
}